@import 'tailwindcss';

html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Montserrat', sans-serif;
}

@theme {
	--color-white: #f7f6f6;
	--color-snowWhite: #ebe9ef;
	--color-black: #121111;
	--color-grey: #414040;
	--color-accentOne: #c3abed;
	--color-accentTwo: #5b20c2;
	--font-montserrat: 'Montserrat', sans-serif;
	--font-fjallaone: 'Fjalla One', sans-serif;
}

.dotBackground {
	background-image: radial-gradient(#5b20c2 0.5px, transparent 0.5px), radial-gradient(#5b20c2 0.5px, transparent 0.5px);
	background-size: 25px 25px;
	background-position:
		0 0,
		12.5px 12.5px;
	background-color: #f7f6f6;
}

.menu {
	max-height: 0px;
	height: 200px;
	padding: 0 1.25em;
	padding-top: 0.8em;
	padding-bottom: 1.5em;
	opacity: 0;
	transition:
		max-height 0.2s ease,
		padding 0.2s ease;
}

.menu.open {
	opacity: 1;
	max-height: 200px;
	pointer-events: auto;
}

.menu.closed {
	max-height: 0;
	opacity: 0;
	transition:
		max-height 0.3s ease,
		opacity 0.3s ease;
}

.test {
	background: linear-gradient(45deg, #5b20c2 22%, #acabab 100%);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
}

.color {
	background-color: #414040;
}
